<!-- Subscribe Section -->
<section class="subscribe">
    <div class="section__container subscribe__container">
        <div class="subscribe__content">
            <h2 class="section__title">Subscribe to get special prize</h2>
            <p class="section__subtitle">
                Explore your suitable and dream places around the world. Here you can find
                your right destionation.
            </p>
        </div>
        <div class="subscribe__form">
            <form action="">
                <input type="email" placeholder="Your email goes here">
                <button class="btn btn-subscribe" type="submit">Send</button>
            </form>
        </div>
    </div>
</section>
<!-- END OF Subscribe Section -->

<!-- Footer -->
<footer class="footer">
    <div class="section__container footer__container">
        <div class="footer__col">
            <h3>Pathfinder<span>.</span></h3>
            <p>
                Take a look our stories. You might find your dream place in here. Good Luck!
            </p>
            <div class="social__icons">
                <a href="">
                    <i class="ri-instagram-line" aria-label="Follow us on Instagram"></i>
                </a>
                <a href="">
                    <i class="ri-linkedin-box-fill" aria-label="Follow us on Linkedin"></i>
                </a>
                <a href="">
                    <i class="ri-github-fill" aria-label="Follow us on Github"></i>
                </a>
                <a href="">
                    <i class="ri-pinterest-fill" aria-label="Follow us on Pinterest"></i>
                </a>
                <a href="">
                    <i class="ri-facebook-circle-fill" aria-label="Follow us on Facebook"></i>
                </a>
            </div>
        </div>
        <div class="footer__col">
            <h4>Support</h4>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
            <p>Contact</p>
            <p>FAQs</p>
        </div>
        <div class="footer__col">
            <h4>Address</h4>
            <p>
                <span>Address:</span> 21000 Novi Sad
            </p>
            <p><span>Email:</span> info&#64;pathfinder.com</p>
            <p><span>Phone:</span> +381 2345678</p>
        </div>
    </div>
    <div class="footer__bar">
        Copyright &copy; 2023 &diams; <a href="https://aleksandar-vujic.web.app" target="_blank">Aleksandar</a> &diams;
        All
        rights reserved.
    </div>
</footer>

<!-- END OF Footer -->