<section class="trip">
    <div class="section__container gallery__container">
        <h2 class="section__title">Our Gallery</h2>
        <p class="section__subtitle">
            Take a look at our Gallery to see some impressive photos of our PathFinding!
        </p>
        <section class="gallery" *ngIf="!isLoading">
            <div *ngFor="let images of postImagesList">
                <img 
                    [ngSrc]="formatImageUrl(images.urls.full)"
                    [ngSrcset]="'154w, 185w, 342w, 500w, 780w'" 
                    [alt]="images.alt_description" 
                    [width]="1080"
                    [height]="720" 
                    class="aspectRatio-free"
                    sizes=" (min-width: 900px) 400px, 65vw"
                >
            </div>
        </section>

        <pathfinder-spinner [isLoading]="onLoadMoreScroll()"></pathfinder-spinner>

    </div>
</section>