<section class="trip">
    <div class="section__container trip__container">
        <h2 class="section__title">Our trip list</h2>
        <p class="section__subtitle">
            Explore your suitable and dream places around the world. Here you can find
            your right destionation.
        </p>
        <pathfinder-spinner [isLoading]="isLoading"></pathfinder-spinner>
        <div class="trip__grid" *ngIf="!isLoading">
            <div *ngFor="let item of data">
                <span #postsList>
                    <pathfinder-card [title]="item.user.location || item.alt_description" [stars]="item.likes"
                        [price]="item.height"
                        [imageURL]="item.urls.small.replace('https://images.unsplash.com', '')"></pathfinder-card>
                </span>
            </div>
        </div>
        <div class="view__all">
            <button class="btn" (click)="loadMore()">Load More...</button>
        </div>
    </div>
</section>